*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
html.body{
    height: 7667px;
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family:Montserrat-Light ;
    src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family:Montserrat-VariableFont_wght ;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
img{
    display: block;
    max-width: 100%;
}
.conteiner{
    width: 1120px;
    height: 120vh;
    margin: 0 auto;
}
.header{
    margin-top: 14px;
    height: 44px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left{
    display: flex;
    height: 44px;
    align-items: center;
}
.nav_ul{
    margin-left: 48px;
    display: flex;
    width: 369px;
    justify-content: space-between;
}
.Headline_4{
    color:var(--blueberry-100 #1A404c);
    font-family: Montserrat-Bold;
    font-size: 28px;
    line-height: 40px;
}
.label{
    color: var(--black, #3D3D4E);
    font-family:Montserrat-Light ;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}
.nav_ul li{
    list-style: none;
}
.btn_call{
    width: 123px;
    height: 32px;
    border-radius: 8px;
    background: var(--E8BAC4-100, #DD4859);
    border: 0;
    font-family: Montserrat-Light;
    margin-top: 36px;
    color: #ffffff;
}
.main_hero{
    display: flex;
    margin-top: 63px;
    align-items: center;
}
.headline_1{
    color: #ffffff;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; 
    font-family:Montserrat-Light ;
}
.main_hero-discript{
    width: 529px;
    margin-right: 47px;
}
.text_h2{
    margin-top: 178px;
    display: flex;
    justify-content: center;
    font-family:Montserrat-VariableFont_wght ;
}

.courses__body {
    margin-top: 63px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: #ffffff;
    height: 300px;
 }
 .courses__body2{
    margin-top: 63px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
 }

 .card__body {
    display: flex;
    flex-direction: column;
 }
 .Headline_2{
    display: flex;
    justify-content: center;
    margin-top: 178px;
    font-family:Montserrat-Light ;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
 }
 .card__img {
    width: 300px;
 }
 .card__text {
    font-family: Montserrat-VariableFont_wght;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    text-align:center;
    flex-direction: column;
 }

 .card__textt {
    margin:19px 0;
 }

 
 .btn{
    background: var(--E8BAC4-100, #DD4859);
    border: 0;
    width: 123px;
    height: 32px;
    border-radius: 8px;
    font-family: Montserrat-Light;
    margin-top: 20px;
    margin-left: 90px;
    color: #ffffff;
 }
 
.card {
   display: flex;
   flex-direction: column;
   animation: Rotate 2s;
}
.card__body2{
    width: 330px;
    height: 311px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 128px 32px 32px 32px;
}
.circle{
    margin: auto;
    border-radius: 50%;
    background-color: #ffffff;
}
.circle-2{
    margin: auto;
    border-radius: 50%;
    background-color: #ffffff;
}
.card__body3{
    width: 330px;
    height: 311px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 128px 32px 32px 32px;

}
.work-love{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; 
    font-family:Montserrat-Light ;
    display: flex;
    justify-content: center;
}
.info{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.about_grid{
    margin-top: 97px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 212px;
}
.about-grid_item{
    text-align: center;
    width: 150px;
}
.Headline_3{
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    font-family: Montserrat-Bold;
}
.body_1{
    font-family: Montserrat-VariableFont_wght;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
}
.main_hero_2{
    display: flex;
    align-items: center;
}
.main_hero-discript-2{
    display: flex;
    margin-top: 100px;
}
.order{
    display: flex;
    margin-top: 30px;
    font-family:Montserrat-Light ;
    margin-left: 103px;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
}
.reg__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .input__container{
    margin-left: 82px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.input{
    width: 527px;
    background-color: #D9D9D9;;
    height: 50px;
}
.card__body4{
    width: 230px;
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 32px 32px 32px 32px;
    margin-top: 71px;
    background-color: #E8BAC4;
}
.circle1{
    margin: auto;
    border-radius: 10%;
}
.foto{
    width: 97px;
    height: 97px;
}
.reviews{
    margin-top: 63px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.card__body5{
    width: 342px;
    height: 361px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 128px 32px 32px 32px;
    margin-top: 71px;
    background-color: #ffffff;
}
.main_hero-3{
    margin-top: 117px;
    display: flex;
    background: var(--F0F0F2-50, rgba(240, 240, 242, 0.50));
}
.main_hero-discript-1{
    width: 529px;
    margin-right: 101px;
}
.Hedline_5{
    font-family: Montserrat-Bold;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.headline_6{
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; 
    font-family:Montserrat-Light ;
}
.input-1{
    width: 431px;
    height: 50.888px;
    flex-shrink: 0;
    margin-top: 36px;
    background-color: #D9D9D9;;
}
.btn-2{
    width: 123px;
    height: 32px;
    border-radius: 8px;
    background: var(--E8BAC4-100, #DD4859);
    border: 0;
    font-family: Montserrat-Light;
    margin-top: 36px;
    color: #ffffff;
}
.headline_7{
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; 
    font-family:Montserrat-Light ;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.body_2{
    font-family: Montserrat-VariableFont_wght;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    display: flex;
    justify-content: center;
}
.request{
    margin-top: 138px;
    border-radius: 128px 32px 32px 32px;
    background: linear-gradient(100deg, #2FCEC5 0%, rgba(221, 72, 89, 0.75) 100%);
    padding: 43px 124px 41px 131px;
}
.request_flex{
    display: flex;
    justify-content: space-between
}
.body_3{
    font-family: Montserrat-VariableFont_wght;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
}
.btn-3{
    width: 123px;
    height: 32px;
    border-radius: 8px;
    background: var(--E8BAC4-100, #DD4859);
    border: 0;
    font-family: Montserrat-Light;
    margin-top: 36px;
    color: #ffffff;  
}
.card__body6{
    width: 220px;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 32px 32px 32px 32px;
    margin-top: 71px;
}
.h2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.footer{
    background-color: #979595;
    margin: auto;
}

.h2_1{
    margin-top: 0px;
}

.courses__body3{
    margin-top: 63px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: #D9D9D9;
    height: 300px;
}